.container_content{
    border: 1px solid white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 3rem;
}

.content_cover{
    display: flex;
    justify-content: center;
    width: 600px;
}

.content_cover > img{
    width: 400px;
    min-width: 400px;
    height: 200px;
}

.content_description{
    margin: 1rem 0;
    width: 600px;
}