<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <app-big-card 
            photoCover="https://img.freepik.com/vetores-gratis/fundo-abstrato-de-meio-tom_23-2148595343.jpg"
            cardDate="Setembro 08, 2023"
            cardTitle="Artes Abstratas de Laranjas fazem sucesso"
            cardDescription="Artes abstratas de laranjas revelam a vibrante essência da fruta em formas fluidas e cores audaciosas. Uma explosão de tonalidades, do amarelo ao laranja intenso, cria composições visuais únicas e cativantes."
        ></app-big-card>
    </div>
    <div class="articles_side">
        <app-small-card
            photoCover=""
            cardDate=""
            cardTitle=""
        ></app-small-card>
        <app-small-card
            photoCover=""
            cardDate=""
            cardTitle=""
        ></app-small-card>
        <app-small-card
            photoCover=""
            cardDate=""
            cardTitle=""
        ></app-small-card>
    </div>
</div>