
<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <app-big-card 
            photoCover="https://img.freepik.com/vetores-gratis/fundo-abstrato-de-meio-tom_23-2148595343.jpg"
            cardDate="Setembro 08, 2023"
            cardTitle="Artes Abstratas de Laranjas fazem sucesso"
            cardDescription="Artes abstratas de laranjas revelam a vibrante essência da fruta em formas fluidas e cores audaciosas. Uma explosão de tonalidades, do amarelo ao laranja intenso, cria composições visuais únicas e cativantes."
        ></app-big-card>
    </div>
    <div class="articles_side">
        <app-small-card
            photoCover="https://thumbs.dreamstime.com/b/fundo-abstrato-roxo-com-bokeh-quadricula%C3%A7%C3%A3o-45297339.jpg"
            cardDate="Faveriro 24, 2026"
            cardTitle="Temas Roxos e como estão dominando o mercado internacional de frutas"
        ></app-small-card>
        <app-small-card
            photoCover="https://static.vecteezy.com/ti/vetor-gratis/p3/9671918-rosa-abstrato-moderno-quadrado-textura-fundo-3d-papel-arte-estilo-que-parece-vincado-design-gratis-vetor.jpg"
            
        ></app-small-card>
        <app-small-card
            photoCover="https://img.freepik.com/vetores-gratis/fundo-geometrico-abstrato-verde_23-2148370301.jpg"
            
        ></app-small-card>
    </div>
</div>