
<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <app-big-card 
            Id="1"
            photoCover="https://img.freepik.com/vetores-gratis/fundo-abstrato-de-meio-tom_23-2148595343.jpg"
            cardDate="Setembro 08, 2023"
            cardTitle="Artes Abstratas de Laranjas fazem sucesso"
            cardDescription="Artes abstratas de laranjas revelam a vibrante essência da fruta em formas fluidas e cores audaciosas. Uma explosão de tonalidades, do amarelo ao laranja intenso, cria composições visuais únicas e cativantes."
        ></app-big-card>
    </div>
    <div class="articles_side">
        <app-small-card
            Id="2"
            photoCover="https://img.freepik.com/vetores-gratis/fundo-azul-abstrato_1182-594.jpg"
            cardDate="Faveriro 24, 2026"
            cardTitle="Azuis, azuis e azuis: Nova Era do Azul"
        ></app-small-card>
        <app-small-card
            Id="3"
            photoCover="https://img.freepik.com/vetores-gratis/fundo-roxo-gradiente_23-2148902728.jpg?size=626&ext=jpg&ga=GA1.2.1403063567.1696716930&semt=ais"
            cardTitle="Temas Roxos e como estão dominando o mercado internacional de frutas"
            
        ></app-small-card>
        <app-small-card
            Id="4"
            photoCover="https://img.freepik.com/vetores-gratis/fundo-geometrico-abstrato-verde_23-2148370301.jpg"
            cardTitle="Temas Verdes e como estão dominando o mercado nacional de esportes"
            
        ></app-small-card>
    </div>
</div>